
body {
    max-width: 35em;
    margin: auto;
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-size: 22px;
}
b { font-weight: 550; }
footer { margin-top: 4em; border-top: 2px dashed rgb(221, 221, 221); font-size: medium; text-align: center; }
header { text-align: center; margin-bottom: 3em;}
header > h1 { font-size: 60px; }
h1, h2 { text-align: center; font-weight: unset; }
.head_image { text-align: center; }
.head_image > h1 { font-size: 2.3em; margin: 0;}
h2 { font-size: 40px; margin-top: 1.5em; }
.centerimage { display: block; margin: auto; }

nav a { color:black; text-decoration: none; transition: color .5s ease-in-out;} /* Globally */
nav a.current { text-decoration: none; color:rgb(68, 114, 196); }
nav a:hover { text-decoration: none; color:rgb(196, 68, 111); }
nav > ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-around;
    font-size: 20px;
}
nav > ul > li {
    flex: 0 1 120px;
}

main { text-align: left; }
#testimonies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.testimony {
    flex: 0 0 calc(50% - 40px);
    padding: 15px;
    height: 350px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 15px;
    text-align: center;
}
.testimony > p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5em;
}
.testimony > p.testimony_role {
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    font-size: medium;
}
.testimony_citation {
    padding-bottom: 10px;
}
.testimony_photo {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 4em;
    margin-bottom: 10px;
    shape-outside: circle();
}
#clients {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}



.client{ filter: grayscale(100%); transition: filter .2s ease-in-out; height: 60px;}
.client:hover { filter: none;}

@media (min-width: 1224px) {
.testimage {
    margin-left:-5em;
    margin-right:-5em;
}

.testimage {
    margin-left:-5em;
    margin-right:-5em;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

}